<section class='mainCover'>
  <div class="mainContainer">
    <div class='loginContainer'>
        <h1>Snapscan</h1>
        <div class='userLogins'>
            <div><%= link_to "LOG IN", new_user_session_path, class: '' %></div>
            <div>SIGN UP</div>
        </div>
    </div>
  </div>
</section>