<section class='mainCover'>
  <section class='mainCoverTwo'>
    <div class="mainContainer">
    <div class='loginContainer'>
        <div class='snapscanContainer'>
        <h1>Snapscan</h1>
        </div>
        <div class='userLogins'>
            <div class="userSubmitContainer">
            <div><%= link_to "LOG IN", new_user_session_path, class: 'formSubmit userSubmit' %> </div>
            </div>
            <div class="userSubmitContainer">
            <div><%= link_to "SIGN UP", new_user_registration_path, class: 'formSubmit userSubmit' %></div>
            </div>
        </div>
    </div>
  </div>
  </section>
</section>