/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

:root {
  --main-color: #3778c2; /* Define a root variable for primary color */
  --second-color: #5fb523;
  --text-main-color: #434b54;
  --text-secondary1-color: #545c67;
  --text-secondary2-color: #86898e;
  --text-secondary3-color: #989da3;
  --white-color: #fff;
  --white-dull-color: #f0f2f1;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.loginContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.snapscanContainer {
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.userLogins {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.userSubmit {
  width: 100%;
}

.userSubmitContainer {
  border: 1px solid black;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 2rem;
}

.userSubmitContainer a {
  color: var(--text-secondary2-color);
}

.userSubmitContainer:hover {
  background-color: var(--main-color);
}

.userSubmitContainer:hover a {
  color: var(--white-color);
}

.header {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 2rem;
  padding-top: 2rem;
  background-color: var(--main-color);
  color: var(--white-color);
  font-size: 1.2rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.mainCover {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.mainCoverTwo {
  width: 27rem;
  max-width: 600px;
  border: 1px solid black;
}

.mainContainer {
  padding: 1rem;
  height: 65vh;
  background-color: var(--white-dull-color);
}

.headerOne {
  display: flex;
  justify-content: space-between;
  gap: 4rem;
}

.headerTwo {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 4rem;
}

/* .cartListCover {
    margin-top: 1rem;
} */

.cartListContainer {
  margin: 0;
  padding: 0;
}

.cartList {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 5rem;
  border: 1px solid black;
  margin-top: 5px;
  padding-left: 1rem;
  padding-right: 1rem;
  color: var(--text-main-color);
}

.categoryButton {
  margin-top: 1rem;
  display: flex;
  border: 1px solid black;
  text-align: center;
  justify-content: center;
  align-items: center;
  min-height: 2rem;
}

.formContainer {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

.formInput {
  height: 3rem;
  border-top: none;
  border-left: none;
  border-right: none;
  background-color: var(--white-color) !important;
}

form:focus-within .formInput {
  border: none;
}

.submitContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.formSubmit {
  width: 100%;
  height: 2rem;
}

.submitContainer .formSubmit {
  color: var(--text-secondary2-color);
}

.submitContainer:hover .formSubmit {
  background-color: var(--main-color);
  color: var(--white-color);
}

.detailsTitle {
  border-bottom: 1px solid black;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.detailsCategoryIcon {
  display: flex;
}

.detailsList {
  border-bottom: 1px solid black;
  height: 2rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.sharedLinks {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.imageElement {
  width: 30px;
  height: 30px;
}

.iconElement {
  width: 50px;
  height: 50px;
}

.snapscan {
  color: var(--main-color);
}

.scanContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 2rem;
  padding-top: 2rem;
  background-color: var(--second-color);
  color: var(--white-color);
  font-size: 1.2rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.scanElement {
  border: 1px solid white;
  padding: 0.5rem 10rem 0.5rem 10rem;
}

@media only screen and (min-width: 440px) {
  .headerTwo {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    /* gap: 5.5rem; */
  }
}
