<section class='mainCover'>
  <section class='mainCoverTwo'>
    <section class='header'>
    <div class='headerOne'>
      <div>H</div>
      <div>Transactions</div>
      <div>S</div>
    </div>
  </section>
      <div class="mainContainer">
  <section class='formCover'>
  <%= form_with model: @category, url: categories_path, class:'' do |form| %>
    <div class="">
          <div class="formContainer">
            <%= form.select :icon, options_for_select(@choices, selected: @category.icon), { prompt: "Select the icon" }, class: "formInput" , required: true %>
            <%= form.text_field :name, placeholder: "New Category", class: 'formInput' , required: true%>
          </div>
    </div>
    <div class='submitContainer'>
    <%= form.submit "Save", class: 'formSubmit'%>
    </div>
  <% end %>
  </section>
</div>
  </section>
</section>